
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

venv/
.env/
.venv/
env/

.vscode/
.idea/


*.ipynb_checkpoints


*.log


data/
dataset/
datasets/
*.json
*.csv
*.xlsx

*.png
*.jpg
*.jpeg
*.gif
*.bmp


*.pth
*.pt
*.ckpt
*.bin

oR_dataset
outputs/
runs/
results/
checkpoints/


.DS_Store
Thumbs.db